



  h3 {text-align: center;}

 .blue { color: blue;
}

.green { color: green;
}

.red { color:red;

main{
 display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
}
.div_1{
    color: red;
}
.div_2{
    color: blue;
}
.div_3{
    color: green;

}